.fade-in-out-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-in-out-enter.fade-in-out-enter-active {
  opacity: 1;
}

.fade-in-out-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-in-out-leave.fade-in-out-leave-active {
  opacity: 0.01;
}

.edge {
  position: absolute;
}

.vertex {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline;
  z-index: 5;
}

.vertex svg text {
  text-decoration: overline;
  font-size: 0.9em;
}

.canvas {
  position: absolute;
  width: 800px;
  height: 600px;
  border: 1px solid black;
}